<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row p-3">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Logged out</h3>
                <a href="/login">Log in again</a>
            </body>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</html>