{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Statistics{% endblock title %}

{% block content %}
<h1>Statistics</h1>
<form method="post">
    {% csrf_token %}
    {{ statistics_parameters_form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <div class="row">
        <div class="col-md-12">
            <div id="results">
                <textarea name="" cols="30" rows="10">
                    {{ statistics }}
                </textarea>
                
                <h4>debug data:</h4>
                <p>{{ debug_data }}</p>
            </div>
        </div>
    </div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}