{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Statistics{% endblock title %}

{% block content %}
<h1>Statistics</h1>
<form method="post">
    {% csrf_token %}
    {{ statistics_parameters_form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <div class="row">
        <div class="col-md-12">
            <div id="results">
                <textarea name="" cols="80" rows="30">
                    {{ statistics }}
                </textarea>
                <form
                 onsubmit="download('drinks_by_user.txt', $('#results textarea').text())">
                    <button type="submit" class="btn btn-light">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>


<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}